.split {
	height: 40%;
	width: 100%;
	position: fixed;
}

.top {
	top: 0;
	left: 0;
	background-color: #13cfed;
}

.bottom {
	top:40%;
	bottom: 0;
	left: 0;
}

h1 {
	
   	color: #FFF;
  	text-align: center;
	font-size: 55px;
	font-family: Lucida Handwriting;
  	font-weight: bold;
	margin-top: 5%;
	
}


p {
   	color: #000;
   	text-align: left;
	font-size: 25px;
	font-style: oblique;
	margin-left: 1%;
	margin-right: 1%;
}


ul {
 	list-style-type: none;
  	overflow: hidden;
  	background-color: #FFF;
  	margin-top: 4%;
  	margin-left: 25%;
  	margin-right: 25%;
}

li {
	display: inline;
	float: left;
}

li a {
  	display: block;
  	color: #000;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 18px;
	font-family: Papyrus;
	font-weight: bold;
}

li a:hover {
  	background-color: #ed13d1;
}

#active {
	color: #FFF;
	background-color: #13CF;
	padding: 14px 16px;
	font-size: 18px;	
	font-family: Papyrus;
}

.email {
	text-align: left;
	margin-left: 25%;
}

.linkedin {
	text-align: center;
	margin-top: 4%;
}



