.split {
	height: 40%;
	width: 100%;
	position: fixed;
}

.top {
	top: 0;
	left: 0;
	background-color: #13cfed;
}

h1 {
	
   	color: #FFF;
  	text-align: center;
	position: relative;
	top: 50px;
	font-size: 55px;
	
}

h2 {
   	color: #FFF;
   	text-align: center;
	position: relative;
	top: 50px;
}

ul {
 	list-style-type: none;
  	margin: 50;
  	padding: 0;
  	overflow: hidden;
  	background-color: #FFF;
  	position:absolute;
  	top: 200px;
	left:550px;
}

li {
	display: inline;
	float: left;
}

li a {
  	display: block;
  	color: #000;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
	font-size: 18px;
}

li a:hover {
  	background-color: #13cfed;
}

#active {
	background-color: #FFF;
	padding: 14px 16px;
	font-size: 18px;
}


