
h1 {
   color: #000000;
   text-align: center;
}

h2{
   color: #000000;
   text-align: center;
}

.navbar-collapse {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
}
