
h1 {
   color: #000;
   text-align: center;
}

h2{
   color: #000;
   text-align: center;
}

ul {
  list-style-type: none;
  margin: 50;
  padding: 100;
  overflow: hidden;
  background-color: #FF0055;
  position:absolute;
  top: 200px;
  left: 200px;
}

li {
	display: inline;
	float: left;
}

li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000250;
}


